p Shoutr #{version}
p 
    | Made with&nbsp;
    i.fa.fa-heart.text-danger
    | &nbsp;and&nbsp;
    i.fa.fa-apple.text-muted
    | &nbsp;in Berlin, DE.&nbsp;
    | Tested with&nbsp;
    i.fa.fa-chrome.text-muted
    | &nbsp;and&nbsp;
    i.fa.fa-safari.text-muted
p &copy; 2016 juliankern.com - All Rights Reserved.
